.main-div{
    margin-top: 30px;
}

.todo-text{
    float: left;
}

.todo-controls{
    float: right;
}

.btn{
    margin: 5px;
}

.heading{
    margin-top : 1%;
    margin-bottom : 3%;
}

.input-field{
    width : 200px;
    margin: auto;
    display: inline-block;

}

.no-todo-msg{
    margin-top: 2%;
}